
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 62.5%;
}

/* Principal Inicio */
body {
    background-image: url("/svg/among-us-space.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    overflow-x: hidden;
    max-width: 100vw;
    height: 100%;

    min-height: 100vh;
    display: flex;
    justify-content: center;

    align-items: center;
    user-select: none;
}

h1 {
    text-align: center;
}

.btns {
    position: absolute;
    z-index: 100;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
}

.btns h1 {
    cursor: pointer;
    color: #00c000;
    animation: pisca 2s infinite;

    font-weight: 800;
}

.btns h1:hover {
    color: #032a03;
}

@keyframes pisca {
    0% {
        opacity: 1;
    }

    82% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20pt;
    margin: 0 4px;
    padding: 0 8px;
}

h1 {
    z-index: 5;
    font-size: 5rem;
    color: #c7c0c0;
}

.container {
    z-index: 5;
    display: flex;
    justify-content: center;

    align-items: center;
    padding: 10px;
    height: fit-content;
    
    width: 86%;
}

.painel {
    border: 8px solid black;
    display: flex;
    justify-content: center;

    align-items: center;
    background-image: url("/svg/frame.svg");
    background-size: contain;

    background-repeat: no-repeat;
}

.boxPainel {
    display: flex;
    flex-direction: column;
    padding: 4%;

    justify-content: center;
    align-items: center;
}

.playerLedPanel {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.computerLedPanel {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.led {
    height: 38px;
    width: 38px;
    border-radius: 50%;

    border: solid 5px #202020;
    background-image: url("/svg/led.svg");
    background-size: contain;

    box-shadow: -2px 7px #827e7f;
}

.painelMemory {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    grid-template-rows: repeat(3, 33.3%);
    margin: 25px 0;
    flex: 1;

    width: 96%;
    height: 100%;
    background: black;

    padding: 5px;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 4px rgba(57, 57, 57, 1), 0px 0px 0px 9px rgba(197, 197, 197, 1);
}

.memory {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.memoryActive {
    animation: mActive 0.3s;
}

@keyframes mActive {
    to {
        background: #44a8fe;
    }
}

.ledOn {
    border: solid 5px #202020;
    background-image: url("/svg/ledgreen.svg");
    background-size: contain;
}

.playerMemory {
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(3, 31.3%);

    grid-template-rows: repeat(3, 31.3%);
    margin: 25px 0;
    flex: 1;

    width: 96%;
    height: 100%;
    padding: 5px;

    border-radius: 1px;
}

.player_memory {
    background: #686868;
    box-shadow: 0px 0px 0px 4px rgb(10, 10, 10);
    border: inset 4px #505050;

    border-radius: 4px;
    cursor: not-allowed;
}

.playerMemoryActive {
    background: #c7c0c0;
    box-shadow: 0px 0px 0px 4px rgb(10, 10, 10);
    border: inset 4px #505050;

    cursor: pointer;
}

.playerMemoryError {
    animation: errorMemory 0.2s;
    animation-iteration-count: 4;
}

.playerLedError {
    animation: errorLed 0.2s;
    animation-iteration-count: 4;
}

.playerMemoryComplete {
    animation: completeMemory 0.2s;
    animation-iteration-count: 4;
}

.playerLedComplete {
    animation: completeLed 0.2s;
    animation-iteration-count: 4;
}

.last {
    box-shadow: 0px 0px 0px 4px rgb(10, 10, 10), 2px 22px 0px -9px #575757, 1px 18px 0px 2px #6a6a6a;
}

.teste {
    font-size: 3rem;
}

@keyframes errorLed {
    to {
        border: solid 5px #202020;
        background-image: url("/svg/ledred.svg");
    }
}

@keyframes errorMemory {
    to {
        background: #af0f0f;
        box-shadow: 0px 0px 0px 4px #952c01 !important;
        border: inset 4px #200200;
    }
}

@keyframes completeLed {
    to {
        border: solid 5px #202020;
        background-image: url("/svg/ledgreen.svg");
    }
}

@keyframes completeMemory {
    to {
        background: #00c000;
        box-shadow: 0px 0px 4px #017a01 !important;
        border: inset 4px #200200;
    }
}

@keyframes playermemoryClick {
    to {
        background: #289cbf;
        box-shadow: 0px 0px 0px 4px #133e71;
        border: inset 4px #03182e;
    }
}
/* Principal Fim */





/* Inicio responsividade */
@media screen and (max-width: 936px) {
    .container {
        flex-direction: column;
    }

    .painel {
        margin: 15px 0;
        min-width: 280px;
        min-height: 317px;
    }

    .painel .boxPainel {
        min-height: 268px;
        min-width: 79.8%;
    }
}

@media screen and (min-width: 642px) {
    .container {
        flex-direction: row;
    }

    .painel {
        margin: 0 15px;
        min-width: 280px;
        min-height: 317px;
    }

    .painel .boxPainel {
        min-height: 268px;
        min-width: 79.8%;
    }
}

@media screen and (min-width: 776px) {
    .container {
        flex-direction: row;
    }

    .painel {
        margin: 0 15px;
        min-width: 368px;
        min-height: 417px;
    }

    .painel .boxPainel {
        min-height: 353px;
        min-width: 79.8%;
    }
}

@media screen and (min-width: 1159px) {
    .painel {
        margin: 0 15px;
        min-width: 456px;
        min-height: 517px;
    }

    .painel .boxPainel {
        min-height: 428px;
        min-width: 79.8%;
    }
}
/* Fim responsividade */






/* Inicio Among */
.size {
    width: fit-content;
    height: fit-content;
    animation: move 22s infinite;

    position: absolute;
    top: 25%;
    z-index: 1;

    transform: scale(0.4);
    opacity: .5;
}

.player {
    background-color: #840931;
    border: 10px solid #00000000;
    border-bottom: none;

    border-radius: 60px 80px 0 0;
    height: 200px;
    width: 140px;

    margin: auto;
    top: 50px;
    left: -15%;

    z-index: 1;
    animation: rotate 15s infinite;
}

.player:after{
    content: "";
    position: absolute;
    width: 92%;


    height: 85%;
    background-color: #EA1616;
    border-radius: 58% 70% 28% 42% / 28% 56% 88% 89%;

    top: 2.5px;
    left: 6px;
}

.legs {
    height: 50px;
    width: 60px;
    background-color: #840931;

    position: absolute;
    left: -10px;
    bottom: -50px;

    border: 10px solid black;
    border-top: none;
    border-radius: 0 0 22px 22px;

    z-index: 1;
}

.legs:before {
    content: "";
    height: 37px;
    width: 40px;

    background-color: #840931;
    position: absolute;
    right: -90px;

    border: 10px solid black;
    border-top: none;
    border-radius: 0 0 22px 22px;
}

.legs:after {
    content: "";
    height: 10px;
    width: 55px;

    background-color: black;
    position: absolute;
    top: -10px;

    left: 40px;
    border-radius: 0 0 10px 0;
}

.back {
    height: 120px;
    width: 35px;
    background-color: #EA1616;

    border: 10px solid black;
    border-right: none;
    position: absolute;

    left: -45px;
    top: 65px;
    border-radius: 20px 0 0 20px;
}

.back:before {
    content: "";
    position: absolute;
    height: 78px;

    width: 26px;
    background-color: #840931;
    bottom: -0.5px;

    left: -1px;
    border-radius: 12px 0 0 8px;
}

.glass {
    height: 75px;
    width: 110px;
    background-color: #225381;

    position: absolute;
    top: 30px;
    left: 40px;

    border: 10px solid black;
    border-radius: 25px 50px 30px 30px;
    z-index: 2;
}

.glass:before {
    content: "";
    position: absolute;
    width: 85%;

    height: 65%;
    background-color: #71D4EC;
    border-radius: 0 28px 3px 30px;

    right: 0px;
    top: 0px;
}

.glass:after {
    content: "";
    position: absolute;
    width: 45%;

    height: 22%;
    background-color: #F7F7F7;
    left: 39px;

    top: 5px;
    border-radius: 25px;
    -webkit-transform: rotate(6deg);

        -ms-transform: rotate(6deg);
            transform: rotate(6deg);
}

@keyframes move {
    0% {
        right: 100%;
    }
    50% {
        right: -1%;
    }
    51% {
        right: -0%;
    }
    100% {
        right: 100%;
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(70deg);
    }
    30% {
        transform: rotate(215deg);
    }
    45% {
        transform: rotate(295deg);
    }
    60% {
        transform: rotate(325deg);
    }
    75%{
        transform: rotate(-420deg);
    }
    90% {
        transform: rotate(-485deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* Fianl Among  */